.explore-button {
  background: none;
  border: 3px solid $Space-cadet;
  border-radius: 5px;
  padding: 1rem;
  width: clamp(90px, 30%, 150px);
  color: $Space-cadet;
  font-size: $button-text-Query;
  cursor: pointer;
  transition: all 0.5s ease;

  &:active {
    transform: scale(0.9);
  }
}
