@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Dancing+Script&display=swap");

$Space-cadet: rgba(118, 127, 199, 0.89);
$Isabelline: rgba(233, 229, 227, 0.932);

$h1-Query: clamp(2.5rem, 4.5vw, 4.3rem);
$h2-Query: clamp(2rem, 4.5vw, 2.6rem);
$p-Query: clamp(1rem, 1.75vw, 1.3rem);

$font-family: "Dancing Script", cursive;
