@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
$Space-cadet: rgba(118, 127, 199, 0.89);
$Isabelline: rgba(233, 229, 227, 0.932);
$white-lighter: rgba(255, 255, 255, 0.918);
$light-pink: rgba(221, 170, 170, 0.644);
$Dark-space-cadet: rgb(22, 25, 41);

$h1-Query: clamp(3rem, 4.5vw, 6rem);
$h2-Query: clamp(2rem, 4.5vw, 4rem);
$h3-Query: clamp(1.5rem, 4.5vw, 2.5rem);
$p-Query: clamp(1rem, 1.75vw, 1.3rem);
$button-text-Query: clamp(0.8rem, 2.75vw, 1.1rem);

$font-family: "Caveat", cursive;
