footer {
  height: 20vh;
  background-color: $Dark-space-cadet;
  padding: 1.5rem;
  width: 100%;

  .footer-container {
    height: 100%;
    @include universal-flex-display(center, center);
    flex-direction: column;

    p {
      text-align: center;
    }
  }
}
