@mixin universal-flex-display($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin universal-grid-display($columns, $gap) {
  display: grid;
  grid-template-columns: $columns;
  gap: $gap;
}

@mixin media-750 {
  @media screen and (max-width: 750px) {
    @content;
  }
}
@mixin media-450 {
  @media screen and (max-width: 450px) {
    @content;
  }
}
