.not-found {
  height: 100vh;
  width: 100%;
  background-color: $light-pink;
  @include universal-flex-display(center, center);
  flex-direction: column;
  padding: 0 1rem;

  a {
    width: 100%;
  }

  button {
    margin-top: 3rem;
  }
}
