.single-meal {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  padding: 2rem;
  background-color: $light-pink;
  @include universal-flex-display(center, center);

  &-container {
    width: 70%;
    height: 100%;
    @include universal-flex-display(center, center);
    flex-direction: column;

    .home-icon-container {
      width: 100%;
      height: 10vh;
      position: relative;

      svg {
        position: absolute;
        top: 0;
        right: 2rem;
        font-size: $h1-Query;
        cursor: pointer;
      }
    }

    .meal-info-container {
      width: 100%;
      height: 100%;
      @include universal-flex-display(center, center);
      flex-direction: column;

      .tags-container {
        height: 30vh;
        @include universal-grid-display(1fr 1fr, 2rem);
        margin-bottom: 5rem;

        p {
          @include universal-flex-display(center, center);
        }
      }
      .picture-ingredient-container {
        width: 100%;
        @include universal-flex-display(space-between, center);

        img {
          width: clamp(200px, 40vw, 700px);
          height: clamp(200px, 40vw, 700px);
          border-radius: 50%;
        }
      }
      .instructions {
        width: 100%;
        margin: 0 auto;
      }

      .button-container {
        width: 100%;
        margin-top: 3rem;
        @include universal-flex-display(center, center);
      }
    }
  }
}

@include media-750 {
  .single-meal {
    padding: 1rem;
    .single-meal-container {
      width: 90%;
    }
  }
}
@include media-450 {
  .single-meal-container {
    width: 100%;

    .meal-info-container {
      .picture-ingredient-container {
        flex-direction: column;

        .ingredients-container {
          margin: 2rem 0;
        }
      }
    }
  }
}
